<a href="https://colab.research.google.com/github/shahriar0999/pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
titanic = sns.load_dataset('titanic')
ufo.to_csv('ufo_report.csv')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [ ]:
# add a column in ufo dataframe

ufo['Location'] = ufo['City'] + ufo['State']

ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,IthacaNY
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,WillingboroNJ
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,HolyokeCO
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,AbileneKS
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,New York Worlds FairNY

## Rename Column

In [8]:
ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}).head()   ##First way to rename columns

,City,Colors_Reported,Shape_Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,IthacaNY
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,WillingboroNJ
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,HolyokeCO
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,AbileneKS
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,New York Worlds FairNY

In [9]:
ufo_cols = ['city', 'colors_reported', 'shaped_reported', 'state', 'time', 'location']   ## second way to rename columns
ufo.columns = ufo_cols
ufo.head()

,city,colors_reported,shaped_reported,state,time,location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,IthacaNY
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,WillingboroNJ
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,HolyokeCO
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,AbileneKS
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,New York Worlds FairNY

In [10]:
## rename columns name
ufo.columns = ufo.columns.str.replace('_', ' ')
ufo.head()

,city,colors reported,shaped reported,state,time,location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,IthacaNY
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,WillingboroNJ
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,HolyokeCO
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,AbileneKS
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,New York Worlds FairNY

In [14]:
## we can difine columns when we read csv
ufo_cols = ['city', 'colors_reported', 'shaped_reported', 'state', 'time', 'location']
ufo_reports = pd.read_csv('ufo_report.csv', names =ufo_cols)

ufo_reports.head()

,city,colors_reported,shaped_reported,state,time,location
0,NaN,City,Colors Reported,Shape Reported,State,Time
1,0.0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
2,1.0,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
3,2.0,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
4,3.0,Abilene,NaN,DISK,KS,6/1/1931 13:00

## Remove Columns from pandas dataframe

In [24]:
Fifa = pd.read_csv('fifa.csv')
Fifa.head(3)

,Unnamed: 0,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,0,1001,Gbor Kirly,69,GK,191,Right,0,,,,,,,70,66,63,74,35,66.0
1,1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,,,,,,NaN
2,2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,,,,,,NaN

In [25]:
Fifa.drop('Unnamed: 0', axis=1, inplace=True)
Fifa.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,Gbor Kirly,69,GK,191,Right,0,,,,,,,70,66,63,74,35,66.0
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,,,,,,NaN
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,,,,,,NaN
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,,,,,,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,,,,,,NaN

In [26]:
# remove row from dataframe

Fifa.drop([0,1,2], inplace=True)   # by default axis=0 (rows) thats why we don't pass axis
Fifa.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,,,,,,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,,,,,,NaN
5,100329,Abdoulaye Faye,72,D,187,Right,1,50,37,47,43,76,82,,,,,,NaN
6,100330,Jos Saez,67,M,170,Right,0,53,60,65,61,64,60,,,,,,NaN
7,100391,Laurent Delorge,67,M,179,Right,0,76,58,67,64,63,56,,,,,,NaN